apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vault
resources:
- namespace.yaml
- release.yaml
configMapGenerator:
- name: vault-values
  files:
  - values.yaml=vault-values.yaml
configurations:
- kustomizeconfig.yaml
