apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: seaweedfs-s3-config
  namespace: seaweedfs
spec:
  refreshInterval: "1h0m0s"
  secretStoreRef:
    name: vault-general
    kind: ClusterSecretStore
  target:
    name: seaweedfs-s3-config
    template:
      engineVersion: v2
      data:
        seaweedfs_s3_config: |
          {"identities":[
            {"name":"gitlab","credentials":[{"accessKey":"{{ .aws_access_key_id }}","secretKey":"{{ .aws_secret_access_key }}"}],"actions":["Admin","Read","Write","List","Tagging"]}
          ]}
  data:
  - secretKey: aws_access_key_id
    remoteRef:
      key: gitlab-object-storage
      property: aws_access_key_id
  - secretKey: aws_secret_access_key
    remoteRef:
      key: gitlab-object-storage
      property: aws_secret_access_key
