---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vm-values
  namespace: monitoring
data:
  values.yaml: |
    nameOverride: "vm"
    fullnameOverride: "vm"
    vmagent:
      ingress:
        enabled: true
        hosts:
        - vmagent.pulsar.k8s.m1xxos.tech
    vmsingle:
      spec:
        storage:
          accessModes:
            - ReadWriteMany
          resources:
            requests:
              storage: 5Gi
    grafana:
      persistence:
        type: pvc
        enabled: true
        size: 5Gi
      ingress:
        enabled: true
        hosts:
        - grafana.pulsar.k8s.m1xxos.tech
    kubeScheduler:
      vmScrape:
        spec:
          endpoints:
          - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            port: http-metrics
            scheme: https
            tlsConfig:
              caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecureSkipVerify: true
    kubeControllerManager:
      vmScrape:
        spec:
          endpoints:
          - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            port: http-metrics
            scheme: https
            tlsConfig:
              caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              serverName: kubernetes
              insecureSkipVerify: true
