---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: cilium-clustermesh-push
  namespace: kube-system
spec:
  updatePolicy: Replace
  deletionPolicy: Delete
  refreshInterval: 1h
  secretStoreRefs:
  - name: vault-general
    kind: ClusterSecretStore
  selector:
    secret:
      name: clustermesh-apiserver-remote-cert
  template:
    data:
      ${CILIUM_CLUSTER_NAME}: |
        endpoints:
        - https://${CILIUM_CLUSTERMESH_ENDPOINT}:2379
        trusted-ca-file: /var/lib/cilium/clustermesh/${CILIUM_CLUSTER_NAME}.etcd-client-ca.crt
        cert-file: /var/lib/cilium/clustermesh/${CILIUM_CLUSTER_NAME}.etcd-client.crt
        key-file: /var/lib/cilium/clustermesh/${CILIUM_CLUSTER_NAME}.etcd-client.key
      ${CILIUM_CLUSTER_NAME}.etcd-client-ca.crt: '{{ index . "ca.crt" | toString }}'
      ${CILIUM_CLUSTER_NAME}.etcd-client.crt: '{{ index . "tls.crt" | toString }}'
      ${CILIUM_CLUSTER_NAME}.etcd-client.key: '{{ index . "tls.key" | toString }}'
  data:
  - conversionStrategy: None
    match:
      remoteRef:
        remoteKey: clustermesh/${CILIUM_CLUSTER_NAME}
