apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-values
  namespace: gitlab-cluster
  labels:
    reconcile.fluxcd.io/watch: Enabled
data:
  values.yaml: |
    global:
      edition: ce
      hosts:
        domain: gl.m1xxos.tech
        gitlab:
          name: gl.m1xxos.tech
          https: true
        registry:
          name: registry.gl.m1xxos.tech
          https: true
        kas:
          name: kas.gl.m1xxos.tech
        pages:
          name: pages.gl.m1xxos.tech
          https: true
        ssh: gl.m1xxos.tech
      ingress:
        enabled: false
        configureCertmanager: false
      gatewayApi:
        enabled: true
        installEnvoy: false
        class:
          controllerName: traefik.io/gateway-controller
          name: traefik
        # gatewayRef:
        #   name: "traefik-gateway"
        #   namespace: "traefik"
        # 18.9 feature(
        listeners:
          gitlab-web:
            tls:
              mode: Terminate
              certificateRefs:
                - name: gitlab-tls
          gitlab-ssh:
            protocol: "TCP"
          registry-web:
            tls:
              mode: Terminate
              certificateRefs:
                - name: local-m1xxos-tech
                  namespace: traefik
          pages-web:
            tls:
              mode: Terminate
              certificateRefs:
                - name: local-m1xxos-tech
                  namespace: traefik
          kas-web:
            tls:
              mode: Terminate
              certificateRefs:
                - name: local-m1xxos-tech
                  namespace: traefik
          kas-workspaces-web:
            tls:
              mode: Terminate
              certificateRefs:
                - name: local-m1xxos-tech
                  namespace: traefik
          kas-registry-web:
            tls:
              mode: Terminate
              certificateRefs:
                - name: local-m1xxos-tech
                  namespace: traefik
      time_zone: "Europe/Moscow"
      redis:
        host: dragonfly-gl.gitlab
        port: 6379
        auth:
          enabled: true
          secret: dragonfly-gl
          key: password
      psql:
        host: gitlab-rails-db-global-rw.gitlab
        password:
          secret: gitlab-rails-db-app
          key: password
      minio:
        enabled: false
      registry:
        bucket: registry
      pages:
        enabled: true
        objectStore:
          enabled: true
          bucket: gitlab-pages
          connection:
            secret: gitlab-object-storage
            key: config
      appConfig:
        object_store:
          enabled: true
          connection:
            secret: gitlab-object-storage
            key: config
      webservice:
        workerProcesses: 1
    redis:
      install: false
    postgresql:
      install: false
    gitlab:
      gitaly:
        persistence:
          size: 15Gi
      toolbox:
        backups:
          objectStorage:
            config:
              secret: gitlab-object-storage
              key: s3cmd
    installCertmanager: false
    nginx-ingress: &nginx-ingress
      enabled: false
    prometheus:
      install: false
