apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: traefik
spec:
  endpoints:
  - port: metrics
  selector:
    matchLabels:
      app.kubernetes.io/component: metrics
      app.kubernetes.io/name: traefik
