providers:
  kubernetesCRD:
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: true
    experimentalChannel: true

gateway:
  listeners:
    web:
      port: 8000
      hostname: ""
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure:
      port: 8443
      hostname:
      protocol: HTTPS
      namespacePolicy:
        from: All
      certificateRefs:
      - kind: Secret
        name: local-m1xxos-tech

logs:
  access:
    enabled: true
    format: common

metrics:
  prometheus:
    addRoutersLabels: true
    addServicesLabels: true
    service:
      enabled: true

tracing:
  otlp:
    enabled: true
    grpc:
      enabled: true
      endpoint: "tempo.tracing.svc.cluster.local:4317"
