providers:
  kubernetesCRD:
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web:
      port: 8000
      hostname: ""
      protocol: HTTP

accessLog:
  enabled: true
  format: json

metrics:
  prometheus:
    addRoutersLabels: true
    addServicesLabels: true
    service:
      enabled: true
