---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-values
  namespace: authentik
  labels:
    reconcile.fluxcd.io/watch: Enabled
data:
  values.yaml: |
    global:
      podAnnotations:
        vault.hashicorp.com/agent-inject: 'true'
        vault.hashicorp.com/role: 'authentik-reader'
        vault.hashicorp.com/agent-inject-secret-secret-key.txt: 'main/authentik/secret-key'
    authentik:
      secret_key: file:///vault/secrets/secret-key.txt
      postgresql:
        host: authentik-new-rw
        user: file:///postgres-creds/username
        password: file:///postgres-creds/password
    server:
      serviceAccountName: authentik-reader
      route:
        main:
          enabled: true
          hostnames:
          - authentik.local.m1xxos.tech
          parentRefs:
          - name: traefik-gateway
            namespace: traefik
      volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-new-app
      - name: secret-key
        secret:
          secretName: authentik-secret-key
      volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true
      - name: secret-key
        mountPath: /secret-key
        readOnly: true
    worker:
      serviceAccountName: authentik-reader
      volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-new-app
      - name: secret-key
        secret:
          secretName: authentik-secret-key
      volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true
      - name: secret-key
        mountPath: /secret-key
        readOnly: true
    redis:
      enabled: true
