providers:
  kubernetesCRD:
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web:
      port: 8000
      hostname: ""
      protocol: HTTP
    websecure:
      port: 8443
      hostname:
      protocol: HTTPS
      certificateRefs:
      - kind: Secret
        name: local-m1xxos-tech

accessLog:
  enabled: true
  format: json

metrics:
  prometheus:
    addRoutersLabels: true
    addServicesLabels: true
    service:
      enabled: false
