---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-values
  namespace: monitoring
  labels:
    reconcile.fluxcd.io/watch: Enabled
data:
  values.yaml: |
    mode: deployment
    image:
      repository: "otel/opentelemetry-collector-contrib"
    presets:
      kubernetesAttributes:
        enabled: true
    config:
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: ${env:MY_POD_IP}:4317
            http:
              endpoint: ${env:MY_POD_IP}:4318
        jaeger:
          protocols:
            thrift_http:
              endpoint: ${env:MY_POD_IP}:14268
      exporters:
        otlphttp/victoriatraces:
          compression: gzip
          encoding: proto
          traces_endpoint: http://vtsingle-vts.tracing.svc.cluster.local:10428/insert/opentelemetry/v1/traces
          tls:
            insecure: true
      service:
        pipelines:
          traces:
            receivers: [otlp, jaeger]
            processors: []
            exporters: [otlphttp/victoriatraces]
