---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-values
  namespace: monitoring
data:
  values.yaml: |
    mode: daemonset
    image:
      repository: "otel/opentelemetry-collector-contrib"
    presets:
      clusterMetrics:
        enabled: true
      kubeletMetrics:
        enabled: true
      logsCollection:
        enabled: true
      kubernetesAttributes:
        enabled: true
      kubernetesEvents:
        enabled: true
      hostMetrics:
        enabled: true
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: "Exists"
        effect: NoSchedule
    config:
      # deltatocumulative processor is needed to convert metrics with delta temporality to cumulative temporality.
      # VictoriaMetrics doesn't support delta temporality. Skip this processor if you don't use delta temporality.
      processors:
        deltatocumulative:
          max_stale: 5m
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: ${env:MY_POD_IP}:4317
            http:
              endpoint: ${env:MY_POD_IP}:4318
        hostmetrics:
          collection_interval: 10s
          root_path: /hostfs
          scrapers:
            cpu:
              metrics:
                system.cpu.logical.count:
                  enabled: true
            disk: null
            filesystem:
              exclude_fs_types:
                fs_types:
                - autofs
                - binfmt_misc
                - bpf
                - cgroup2
                - configfs
                - debugfs
                - devpts
                - devtmpfs
                - fusectl
                - hugetlbfs
                - iso9660
                - mqueue
                - nsfs
                - overlay
                - proc
                - procfs
                - pstore
                - rpc_pipefs
                - securityfs
                - selinuxfs
                - squashfs
                - sysfs
                - tracefs
                match_type: strict
              exclude_mount_points:
                match_type: regexp
                mount_points:
                - /dev/*
                - /proc/*
                - /sys/*
                - /run/k3s/containerd/*
                - /var/lib/docker/*
                - /var/lib/kubelet/*
                - /snap/*
              metrics:
                system.filesystem.utilization:
                  enabled: true
            load: null
            memory:
              metrics:
                system.memory.utilization:
                  enabled: true
                system.memory.limit:
                  enabled: true
            network: null
            process:
              mute_process_user_error: true
              metrics:
                process.cpu.utilization:
                  enabled: true
                process.memory.utilization:
                  enabled: true
                process.threads:
                  enabled: true
                process.paging.faults:
                  enabled: true
      exporters:
        otlphttp/victoriametrics:
          compression: gzip
          encoding: proto
          metrics_endpoint: http://vmsingle-vm.monitoring.svc.cluster.local:8428/opentelemetry/v1/metrics
          tls:
            insecure: true
        otlphttp/loki:
          endpoint: http://loki-gateway.logging.svc.cluster.local/otlp
      service:
        pipelines:
          logs:
            receivers: [otlp]
            processors: []
            exporters: [otlphttp/loki]
          metrics:
            receivers: [otlp]
            processors: [deltatocumulative]
            exporters: [otlphttp/victoriametrics]
