---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vm-values
  namespace: monitoring
data:
  values.yaml: |
    nameOverride: "vm"
    fullnameOverride: "vm"
    vmagent:
      ingress:
        enabled: true
        hosts:
        - vmagent.local.m1xxos.tech
        tls:
        - secretName: local-m1xxos-tech
          hosts:
          - vmagent.local.m1xxos.tech 
    vmsingle:
      spec:
        storage:
          accessModes:
            - ReadWriteMany
          resources:
            requests:
              storage: 5Gi
    grafana:
      persistence:
        type: pvc
        enabled: true
        size: 5Gi
      ingress:
        enabled: true
        hosts:
        - grafana.local.m1xxos.tech
        tls:
        - secretName: local-m1xxos-tech
          hosts:
          - grafana.local.m1xxos.tech 
