---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vm-values
  namespace: monitoring
  labels:
    reconcile.fluxcd.io/watch: Enabled
data:
  values.yaml: |
    nameOverride: "vm"
    fullnameOverride: "vm"
    vmagent:
      route:
        enabled: true
        hostnames:
        - vmagent.local.m1xxos.tech
        parentRefs:
        - name: traefik-gateway
          namespace: traefik
    vmsingle:
      spec:
        extraArgs:
          opentelemetry.usePrometheusNaming: "true"
        storage:
          accessModes:
            - ReadWriteMany
          resources:
            requests:
              storage: 5Gi
    prometheus-node-exporter:
      enabled: true
    kube-state-metrics:
      enabled: true
    defaultDatasources:
      extra:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki-gateway.logging.svc.cluster.local
          jsonData:
            timeout: 60
            maxLines: 1000
        - name: Tempo
          type: tempo
          url: http://tempo.tracing.svc.cluster.local:3200
          access: proxy
          basicAuth: false
          jsonData:
            tracesToLogsV2:
              # Field with an internal link pointing to a logs data source in Grafana.
              # datasourceUid value must match the uid value of the logs data source.
              datasourceUid: 'Loki'
              spanStartTimeShift: '-1h'
              spanEndTimeShift: '1h'
              tags: ['k8s_job_name', 'service_instance_id', 'k8s_pod_name', 'k8s_namespace_name']
              filterByTraceID: false
              filterBySpanID: false
              customQuery: true
              query: 'method="$${__span.tags.method}"'
            tracesToMetrics:
              datasourceUid: 'VictoriaMetrics'
              spanStartTimeShift: '-1h'
              spanEndTimeShift: '1h'
              tags: [{ key: 'service.name', value: 'service' }, { key: 'job' }]
              queries:
                - name: 'Sample query'
                  query: 'sum(rate(traces_spanmetrics_latency_bucket{$$__tags}[5m]))'
            nodeGraph:
              enabled: true
    grafana:
      plugins:
        - victoriametrics-logs-datasource
      serviceAccount:
        name: grafana-reader
      podAnnotations:
        vault.hashicorp.com/agent-inject: 'true'
        vault.hashicorp.com/role: 'grafana-reader'
        vault.hashicorp.com/agent-inject-secret-client-id.txt: "main/grafana/grafana-auth"
        vault.hashicorp.com/agent-inject-template-client-id.txt: |
          {{- with secret "main/grafana/grafana-auth" -}}
          {{ .Data.data.oidc_client_id }}
          {{- end -}}
        vault.hashicorp.com/agent-inject-secret-client-secret.txt: "main/grafana/grafana-auth"
        vault.hashicorp.com/agent-inject-template-client-secret.txt: |
          {{- with secret "main/grafana/grafana-auth" -}}
          {{ .Data.data.oidc_client_secret }}
          {{- end -}}
      persistence:
        type: pvc
        enabled: true
        size: 5Gi
      route:
        main:
          enabled: true
          hostnames:
          - grafana.local.m1xxos.tech
          parentRefs:
          - name: traefik-gateway
            namespace: traefik
      grafana.ini:
        auth:
            signout_redirect_url: "https://authentik.local.m1xxos.tech/application/o/grafana/end-session/"
            oauth_auto_login: true
        auth.generic_oauth:
            name: authentik
            enabled: true
            client_id: $__file{/vault/secrets/client-id.txt}
            client_secret: $__file{/vault/secrets/client-secret.txt}
            scopes: "openid profile email"
            auth_url: "https://authentik.local.m1xxos.tech/application/o/authorize/"
            token_url: "https://authentik.local.m1xxos.tech/application/o/token/"
            api_url: "https://authentik.local.m1xxos.tech/application/o/userinfo/"
            # Optionally map user groups to Grafana roles
            role_attribute_path: contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
        server:
          root_url: https://grafana.local.m1xxos.tech
    kubeScheduler:
      vmScrape:
        spec:
          endpoints:
          - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            port: http-metrics
            scheme: https
            tlsConfig:
              caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecureSkipVerify: true
    kubeControllerManager:
      vmScrape:
        spec:
          endpoints:
          - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            port: http-metrics
            scheme: https
            tlsConfig:
              caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              serverName: kubernetes
              insecureSkipVerify: true
